/**PANTALLA GRANDE**/


/**PANTALLA CHICA**/
@media(max-width:768px){
    #formulario{
        max-width:100% !important;
        
    }

    #cards .card {
        padding: 0% !important;
        margin: 0% !important;
    }

    #textofooter{
        
        padding-top: 0rem !important; 
        margin-right: 0px !important;
            margin-left: 40px !important;
            padding-left: 10px!important;
            
        } 
}