<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Lista Autores</title>  
    <link rel="stylesheet" href="lista.css"> 
</head>
<style>
    footer{
    margin-top: 369px;    
}
</style>
<body class="bg-secondary">  

    <!--============================-->
    <!------------Nabvar--------------->
    <!--===============================--> 
    <nav class="navbar navbar-expand-lg bg-dark text-light">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="#">
                <h1>Biblioteca</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active text-light " aria-current="page" href="http://localhost:8080/inicio#">Home</a> 

                </div>
            </div>
            
        </div>
    </nav>
    <!--============================-->
    <!------------Lista---------------> 
    <!--===============================--> 
    <div class="container mt-5">
    <table class="table table-dark">
        <thead> 
            <tr>
                <th scope="col">Id del autor</th>
                <th scope="col">Nombre del autor</th>
                <th scope="col" sec:authorize="hasRole('ADMIN')">Acciones</th>
            </tr>
        </thead>
        <tbody th:each="autor: ${autores}"> 
            <tr>
                <th th:text ="${autor.id}"></th>
                <td th:text ="${autor.nombre}"></td>
                <td>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/autor/modificar/__${autor.id}__}"> Modificar</a>
                </td>
               
            </tr>
        </tbody>
    </table>
</div>
   <!--============================-->
    <!------------Footer--------------->
    <!--===============================--> 

    <footer class="footer text-center bg-dark pt-4 pb-3">   
        <div class="inner text-light">
          <p>Bibioteca &copy; Todos Los Derechos Reservados 2023</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>