  body{
    background-image:
     url(/img/pexels.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

footer{
    padding-top: 37%; 
    padding-left: 460px;
}
